{
  "db":"DB_UVSS",
  "tbs":[
  {
    "tb":"T_DATAITEM",
    "entries":[
    {
      "Field":"DATA_ID",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"PRI",
      "Default":"NULL",
      "Extra":"auto_increment",
      "Note":""
    },
    {
      "Field":"DEVICE_GROUP_ID",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"MUL",
      "Default":"NULL",
      "Extra":"auto_increment",
      "Note":""
    }
    ]

  },
  {
    "tb":"T_COMMON_CAMERA",
    "entries":[
    {
      "Field":"DEVICE_CODE",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"PRI",
      "Default":"NULL",
      "Extra":"auto_increment",
      "Note":""
    }
    ]

  }
  ]
}
