{
  "#":"表名",
  "db":"DB_UVSS",
  "tbs":[
  {
  "tb":"T_DATA_DICTIONARY",
  "entries":[
  {
    "Field":"ENUM_ID",
    "Type":"int(11) unsigned",
    "Null":"NOT NULL",
    "Key":"PRI",
    "Default":"NULL",
    "Extra":"auto_increment",
    "Note":""
  },
  {
    "Field":"ENUM_TYPE",
    "Type":"VARCHAR(32)",
    "Null":"NOT NULL",
    "Key":"UNIQUE",
    "Default":"NULL",
    "Extra":"",
    "Note":""
  }
  ],
  "extra":""
  },
   {
    "tb":"T_DATABASE_CONFIG",
    "entries":[
    {
      "Field":"TOP_DIR",
      "Type":"VARCHAR(64)",
      "Null":"NOT NULL",
      "Key":"PRI",
      "Default":".",
      "Extra":"",
      "Note":""
    }
    ],
    "extra":""
  },
  {
   "tb":"T_COMMON_CAMERA",
   "entries":[
   {
     "Field":"DEVICE_CODE",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"PRI",
     "Default":"0",
     "Extra":"auto_increment",
     "Note":""
   }
   ,{
     "Field":"USERNAME",
     "Type":"VARCHAR(64)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"admin",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"PASSWORD",
     "Type":"VARCHAR(64)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"123456",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"IP",
     "Type":"VARCHAR(16)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"192.168.1.123",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"PORT",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"80",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"HR_RTSP",
     "Type":"VARCHAR(64)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"rtsp://user:password@url",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"LR_RTSP",
     "Type":"VARCHAR(64)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"rtsp://user:password@url",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"STATUS",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"0",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"MANUFACTOR",
     "Type":"VARCHAR(64)",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"0",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"VERSION",
     "Type":"VARCHAR(64)",
     "Null":"",
     "Key":"",
     "Default":"NULL",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"TYPE",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"0",
     "Extra":"",
     "Note":""
   }
   ,{
     "Field":"ACCESS_METHOD",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"",
     "Default":"0",
     "Extra":"",
     "Note":""
   }


   ],
   "extra":"CONSTRAINT CONSTRAINT_ENUM_COMMON_CAMERA_STATUS FOREIGN KEY(STATUS) REFERENCES T_DATA_DICTIONARY(ENUM_ID), CONSTRAINT CONSTRAINT_ENUM_COMMON_CAMERA_TYPE FOREIGN KEY(TYPE) REFERENCES T_DATA_DICTIONARY(ENUM_ID),CONSTRAINT CONSTRAINT_ENUM_COMMON_CAMERA_ACCESS FOREIGN KEY(ACCESS_METHOD) REFERENCES T_DATA_DICTIONARY(ENUM_ID)"
 },

  {
    "tb":"T_UVSS_CAMERA",
    "entries":[
    {
      "Field":"DEVICE_SN_CODE",
      "Type":"VARCHAR(32)",
      "Null":"NOT NULL",
      "Key":"PRI",
      "Default":"00000000000000000000000000000000",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"USERNAME",
      "Type":"VARCHAR(64)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"admin",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"PASSWORD",
      "Type":"VARCHAR(64)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"123456",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"IP",
      "Type":"VARCHAR(16)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"192.168.1.123",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"PORT",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"80",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"SERVER_IP",
      "Type":"VARCHAR(16)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"192.168.1.100",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"VERSION",
      "Type":"VARCHAR(64)",
      "Null":"",
      "Key":"",
      "Default":"NULL",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"REMAIN_TIMES",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"1024",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"TYPE",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"0",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"REGION",
      "Type":"VARCHAR(64)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"CHINA",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"LANGUAGE",
      "Type":"VARCHAR(64)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"CHINESE",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"IS_ACTIVATE",
      "Type":"TINYINT(1)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"0",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"FUN_BLACK_WHITE_LIST",
      "Type":"TINYINT(1)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"0",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"FUN_FOD",
      "Type":"TINYINT(1)",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"0",
      "Extra":"",
      "Note":""
    }
    ,{
      "Field":"STATUS",
      "Type":"int(11) unsigned",
      "Null":"NOT NULL",
      "Key":"",
      "Default":"0",
      "Extra":"",
      "Note":""
    }

    ],
    "extra":"CONSTRAINT CONSTRAINT_UVSS_CAMERA_TYPE FOREIGN KEY(TYPE) REFERENCES T_DATA_DICTIONARY(ENUM_ID),CONSTRAINT CONSTRAINT_UVSS_CAMERA_STATUS FOREIGN KEY(STATUS) REFERENCES T_DATA_DICTIONARY(ENUM_ID)"
  },

  {
   "tb":"T_DEVICE_GROUP",
   "entries":[
   {
     "Field":"DEVICE_GROUP_ID",
     "Type":"int(11) unsigned",
     "Null":"NOT NULL",
     "Key":"PRI",
     "Default":"0",
     "Extra":"auto_increment",
     "Note":""
   }
   ,{
        "Field":"DEVICE_GROUP_NAME",
        "Type":"VARCHAR(64)",
        "Null":"NOT NULL",
        "Key":"",
        "Default":"DEFAULT",
        "Extra":"",
        "Note":""
  }
  ,{
       "Field":"DEVICE_SN_CODE",
       "Type":"VARCHAR(32)",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"FACE_CAMERA_0",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"FACE_CAMERA_1",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"SURROUNDING_CAMERA_0",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"SURROUNDING_CAMERA_1",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"SURROUNDING_CAMERA_2",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"SURROUNDING_CAMERA_3",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"PLATE_CAMERA_0",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
       "Field":"PLATE_CAMERA_1",
       "Type":"int(11) unsigned",
       "Null":"NOT NULL",
       "Key":"",
       "Default":"0",
       "Extra":"",
       "Note":""
  }
  ,{
    "Field":"STATUS",
    "Type":"int(11) unsigned",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"0",
    "Extra":"",
    "Note":""
  }


  ],
   "extra":"CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_DEVICE_SN_CODE FOREIGN KEY(DEVICE_SN_CODE) REFERENCES T_UVSS_CAMERA(DEVICE_SN_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_FACE_CAMERA_0 FOREIGN KEY(FACE_CAMERA_0) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_FACE_CAMERA_1 FOREIGN KEY(FACE_CAMERA_1) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_SURROUNDING_CAMERA_0 FOREIGN KEY(SURROUNDING_CAMERA_0) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_SURROUNDING_CAMERA_1 FOREIGN KEY(SURROUNDING_CAMERA_1) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_SURROUNDING_CAMERA_2 FOREIGN KEY(SURROUNDING_CAMERA_2) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_SURROUNDING_CAMERA_3 FOREIGN KEY(SURROUNDING_CAMERA_3) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_PLATE_CAMERA_0 FOREIGN KEY(PLATE_CAMERA_0) REFERENCES T_COMMON_CAMERA(DEVICE_CODE),
   CONSTRAINT CONSTRAINT_ENUM_DEVICE_GROUP_PLATE_CAMERA_1 FOREIGN KEY(PLATE_CAMERA_1) REFERENCES T_COMMON_CAMERA(DEVICE_CODE)
   "
 },
 {
  "tb":"T_FACE_BLACK_LIST",
  "entries":[
  {
    "Field":"NAME",
    "Type":"VARCHAR(64)",
    "Null":"NOT NULL",
    "Key":"PRI",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_0",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_1",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_2",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_3",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_4",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_5",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_6",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_7",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_8",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_9",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_10",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_11",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_12",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_13",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_14",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_15",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_16",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_17",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_18",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_19",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_20",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_21",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_22",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_23",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_24",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_25",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_26",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_27",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_28",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_29",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_30",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_31",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_32",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }

  ,{
    "Field":"LABEL_33",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_34",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_35",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_36",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_37",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_38",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_39",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_40",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_41",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_42",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_43",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_44",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_45",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_46",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_47",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_48",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_49",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_50",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_51",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_52",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_53",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_54",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_55",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_56",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_57",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_58",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_59",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_60",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_61",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_62",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_63",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_64",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_65",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_66",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_67",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_68",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_69",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_70",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_71",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_72",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_73",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_74",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_75",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_76",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_77",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_78",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_79",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_80",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_81",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_82",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_83",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_84",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_85",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_86",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_87",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_88",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_89",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_90",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_91",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_92",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_93",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_94",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_95",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_96",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }

  ,{
    "Field":"LABEL_97",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_98",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_99",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_100",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_101",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_102",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_103",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_104",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_105",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_106",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_107",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_108",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_109",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_110",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_111",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_112",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_113",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_114",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_115",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_116",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_117",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_118",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_119",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_120",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_121",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_122",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_123",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_124",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_125",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_126",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }
  ,{
    "Field":"LABEL_127",
    "Type":"float",
    "Null":"NOT NULL",
    "Key":"",
    "Default":"",
    "Extra":"",
    "Note":""
  }

  ],
  "extra":""
  },

  {
      "tb":"T_DATAITEM",
      "entries":[
      {
        "Field":"DATA_ID",
        "Type":"int(11) unsigned",
        "Null":"NOT NULL",
        "Key":"PRI",
        "Default":"NULL",
        "Extra":"auto_increment",
        "Note":""
      }
      ,{
        "Field":"DEVICE_GROUP_ID",
        "Type":"int(11) unsigned",
        "Null":"NOT NULL",
        "Key":"UNIQUE",
        "Default":"NULL",
        "Extra":"",
        "Note":""
      }
      ,{
        "Field":"DEVICE_SN_CODE",
        "Type":"VARCHAR(32)",
        "Null":"NOT NULL",
        "Key":"",
        "Default":"NULL",
        "Extra":"",
        "Note":""
      }
      ]
      ,"extra":"CONSTRAINT CONSTRAINT_DEVICE_SN_CODE FOREIGN KEY(DEVICE_SN_CODE) REFERENCES T_UVSS_CAMERA(DEVICE_SN_CODE)"
    }
  ]
}
