{
  "dict":[
    {
      "key":"NO_MEAN",
      "value":0
    },
    {
      "key":"PLATE_DIRECTION_IN",
      "value":1
    },
    {
      "key":"PLATE_DIRECTION_OUT",
      "value":2
    },
    {
      "key":"PLATE_DIRECTION_BIDIRECTION",
      "value":3
    },
    {
      "key":"COMMON_CAMERA_TYPE_FACE",
      "value":4
    },
    {
      "key":"COMMON_CAMERA_TYPE_SURROUNDING",
      "value":5
    },
    {
      "key":"COMMON_CAMERA_TYPE_PLATE",
      "value":6
    },
    {
      "key":"COMMON_CAMERA_ACCESS_METHOD_SDK",
      "value":7
    },
    {
      "key":"COMMON_CAMERA_ACCESS_METHOD_API",
      "value":8
    },
    {
      "key":"COMMON_CAMERA_ACCESS_METHOD_ONVIF",
      "value":9
    },
    {
      "key":"USER_TYPE_ADMIN",
      "value":10
    },
    {
      "key":"USER_TYPE_ORIDINARY",
      "value":11
    },
    {
      "key":"NOT_IN_FACE_LIST",
      "value":12
    },
    {
      "key":"IN_FACE_BLACK_LIST",
      "value":13
    },
    {
      "key":"IN_FACE_WRITE_LIST",
      "value":14
    },
    {
      "key":"NOT_IN_PLATE_LIST",
      "value":15
    },
    {
      "key":"IN_PLATE_BLACK_LIST",
      "value":16
    },
    {
      "key":"IN_PLATE_WRITE_LIST",
      "value":17
    }

  ]

}
